# Streamlit secrets template
# Copy this file to .streamlit/secrets.toml and fill in your actual OpenAI API key

[openai]
api_key = "your_openai_api_key_here"

[supabase]
# these are API level keys
url = "supabase_url"
anon_key = "supabase_anon_key" # auth access for the frontend
service_key = "supabase_service_key" # allows backend by bypass RLS checks to perform read/write to the tables

[jwt]
# backend uses algorithm and url to verify JSON web tokens issued by Supabase Auth
algorithm=ES256
url=https://<project_name>.supabase.co/auth/v1/.well-known/jwks.json 
# issuer and audience are optional fields for now, can be used if we implement token validation
issuer=https://<project_name>.supabase.co/auth/v1
audience=authenticated
